@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
    --primary-green: hsl(75, 94%, 57%);
    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-grey: hsl(0, 0%, 20%);
    --color-neutral-dark-grey: hsl(0, 0%, 12%);
    --color-neutral-black: hsl(0, 0%, 8%);

    --ff-inter: 'Inter', sans-serif;;

    --fs-300: 0.875rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;

    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    --padding-big: 2.5rem;
    --padding-small: 1.5rem;
    --gap-big: 1.5rem;
    --gap-small: 0.875rem;

    --border-radius: 1rem;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-black);
    font-family: var(--ff-inter);
    font-size: var(--fs-300);
    color: var(--color-neutral-white);
    line-height: 1.1;
}
main{
    width: min(23rem, 100%);
    background-color: var(--color-neutral-dark-grey);
    padding: min(max(calc(8px + 3vw), 1.5rem), 2.5rem);
    margin-inline: 1rem;
    text-align: center;
    border-radius: var(--border-radius);
}

.grid-flow{
    display: grid;
}

.gap-small{
    gap: var(--gap-small);
}
.gap-big{
    gap: var(--gap-big);
}

.avatar{
    margin-inline: auto;
    max-width: 5.625rem;
    border-radius: 100vh;
}
.title{
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

.location{
    font-weight: var(--fw-semibold);
    color: var(--primary-green);
}

.button{
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--color-neutral-grey);
    color: var(--color-neutral-white);
    font-weight: var(--fw-semibold);
    transition: all 0.5s;
}

.button:active,
.button:hover{
    background-color: var(--primary-green);
    color: var(--color-neutral-dark-grey);
}

























